.box-shadow {
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

.colorCat{
    background-color: rgb(228, 125, 35);
    color: white;
    text-align: center;
}
 
.colorCatModal{
    background-color: rgb(254, 193, 139);
    color: rgb(129, 7, 7);
    text-align: center;
}

.alinear-c{
    text-align: center;
}

.alinear-l{
    text-align: left;
}

.alinear-r {
    text-align: right;
}

.color-red {
    color: red;  
    font-weight: bold;
    padding-left: 50px; 
}

thead {
    color: white;
    border-style: solid;
    border-color: rgb(228, 125, 35);
    background-color: rgb(228, 125, 35);
}

tbody tr td {
    border-style: solid;
    border-width: 3px;
    border-color: rgb(228, 125, 35);
} 
.colorAdmin{
    background-color: rgb(66, 165, 231);
    color: white;
    text-align: center;
}
/* Modal */
.ReactModalPortal > div{
    opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
    align-items: center;
    display: flex;
    justify-content: center;
    transition: opacity .2s ease-in-out;
    z-index: 999;
}

.modal-fondo {
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;
}

.modal {
    background: white;
    border-radius: 5px;
    color: rgb(51, 51, 51);
    display: inline;
    max-height: 750px;
    max-width: 670px; 
    outline: none;
    padding: 20px;
}


.franja {
    background: rgba(230,190,87,1);
    background: linear-gradient(45deg, rgba(255,163,64,1) 0%, rgba(250,172,77,1) 38%, rgba(242,198,87,1) 51%, rgba(250,183,15,1) 100%);
    color: white;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.box-modal {
    width: 100%;
    /* float: left; */
    /* padding-left: 10%; */
}

.btn-modal-cat {
    text-align: center;
    align-content: center;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}